/* Remove scroll arrows from number-type input boxes */
input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}



/* Global variables */
:root {
    --bg-color: white;
    --win-color: rgba(136, 235, 162, 1);
    --lose-color: rgba(239, 113, 113, 1);
    --outline-color: rgba(60, 65, 72, 1);
    /* --outline-color: gold; */
    --dark-shadow-color: rgba(225, 232, 240, 1);
    --medium-shadow-color: rgba(242, 245, 249, 1);
    --light-shadow-color: rgba(252, 254, 255, 1);
}


/* Body */
* {
    border-color: var(--outline-color);
    color: var(--outline-color);
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

button {
    background-color: var(--bg-color);
    border-color: var(--outline-color);
    border-width: 1px;
    box-shadow: none;
    border-style: solid;
}

button:hover {
    background-color: var(--light-shadow-color);
}

button:active {
    background-color: var(--medium-shadow-color);
    box-shadow: inset 3px 3px 3px var(--dark-shadow-color);
}


/* Page container */
.l-page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}


/* Game */
.l-game-container {
    flex: 1 1 100%;
    min-width: 500px;
    min-height: 500px;
    position: relative;
}


/* Central circle */
@keyframes winPulse {
    0% {
        border: 1px solid var(--outline-color);
        box-shadow: none;
    }

    25% {
        border-color: var(--win-color);
        box-shadow: inset 0 0 20px 20px var(--win-color);
    }
    
    100% {
        border: 1px solid var(--outline-color);
        box-shadow: none;
    }
}

@keyframes losePulse {
    0% {
        border: 1px solid var(--outline-color);
        box-shadow: none;
    }

    25% {
        border-color: var(--lose-color);
        box-shadow: inset 0 0 20px 20px var(--lose-color);
    }
    
    100% {
        border: 1px solid var(--outline-color);
        box-shadow: none;
    }
}

@keyframes drawPulse {
    0% {
        border: 1px solid var(--outline-color);
        box-shadow: none;
    }

    25% {
        border-color: gray;
        box-shadow: inset 0 0 20px 20px gray;
    }
    
    100% {
        border: 1px solid var(--outline-color);
        box-shadow: none;
    }
}

.l-game__circular-container {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid var(--outline-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.win-round {
    animation: winPulse 1000ms;
}

.lose-round {
    animation: losePulse 1000ms;
}

.draw-round {
    animation: drawPulse 1000ms;
}

/* Game buttons */
.l-game__button-container {
}

.c-game__button {
    position: absolute;
    z-index: 3;
    border-radius: 50%;
}


/* Status box */
.l-game__status-container {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* Score */
.c-status__score {
}

/* Commentary */
.l-status__commentary-list {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    height: 90%;
    overflow: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    max-height: 150px;
}

.c-status__commentary-line {
    opacity: 35%
}

.c-status__commentary-line:last-of-type {
    scroll-snap-align: start;
    opacity: 100%;
}

/* Options form */
.l-menu__options {
    padding: 15px;
}

.c-menu__text {
}

.c-menu__end-condition {
    background-color: var(--bg-color);
}

.c-menu__end-condition:hover {
    background-color: var(--light-shadow-color);
}

.c-menu__endpoint {
    border-width: 1px;
    width: 25px;
}

.c-menu__endpoint:hover {
    background-color: var(--light-shadow-color);
}


/* Option buttons */
.l-option-buttons-container {
    position: absolute;
    left: 100%;
    transform: translate(-100%, 0%);
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.c-menu__restart-button {
    padding: 10px;
    border: none;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    flex: 0 0 auto;
}

.c-menu__restart-button:hover {
    /* background-color: var(--light-shadow); */
}

.l-toggle-buttons-container {
    display: flex;
    justify-content: space-between;
}

.c-options__toggle-button {
    border: none;
}

.c-options__toggle-button.--js-toggle-off {
    background-color: var(--dark-shadow-color);
}

.c-options__toggle-button.--js-toggle-off:hover {
    background-color: var(--medium-shadow-color);
}

.c-options__toggle-button.--js-toggle-off:active {
    background-color: var(--medium-shadow-color);
    box-shadow: inset 3px 3px 3px var(--dark-shadow-color);
}