/* Remove scroll arrows from number-type input boxes */
input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}


/* Global variables */
:root {
    --light-shadow: #f1eded;

}


body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.l-start {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: peachpuff;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.is-faded-out {
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease-in 0.1s;
}

.c-start-button {
    cursor: pointer;
}

.l-page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
}

.l-app {
    display: flex;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    /* margin-left: -100%; */
    /* z-index: 0; */
}

.l-side-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 0 0 auto;
    min-width: 400px;
    background-color: lightseagreen;
}

.l-game-container {
    flex: 1 1 75%;
    min-width: 350px;
    background-color: lightsalmon;
    position: relative;
}

.c-menu__restart-button {
    padding: 10px;
    border: none;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    flex: 0 0 auto;
}

.c-menu__restart-button:hover {
    background-color: var(--light-shadow);
}

.l-menu__options {
    padding: 15px;
}

.c-menu__end-condition {
    background-color: rgba(0,0,0,0);
}

.c-menu__endpoint {
    background-color: rgba(0,0,0,0);
    width: 25px;
}

.l-menu__status {
    background-color: palegoldenrod;
    flex-grow: 1;
}

.c-game__score {
    margin: auto;
    position: absolute;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.l-game__choices {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.c-game__button {
    position: absolute;
    z-index: 1;
}

.l-status__commentary-list {
    list-style-type: none;
    padding-left: 0;
}

.c-status__commentary-line {
    color: gray;
}

.c-status__commentary-line:last-of-type {
    color: black;
}